.cardContent {
  padding: 5px;
  margin: 0;
}
.title {
  font-size: 14px;
  font-weight: bold;
}
.infos {
  font-size: 13px;
  color: #777;
  display: flex;
  align-items: center;
}
.icon {
  font-size: 13px;
  color: rgb(0, 140, 255);
  margin-left: 10px;
  margin-right: 5px;
}
.price {
  font-weight: bold;
  color: rgb(214, 46, 46);
}
.cardAction {
  display: flex;
  align-items: center;
  .agencyName {
    margin-left: 10px;
    color: #777;
    font-weight: bold;
    font-size: 14px;
  }
}
